Repository bdice/rapidsmpf, changes with the labels that .github/labeler.yml gives for each.
All labels: librapidsmp, CMake, ci, conda

Update to CCCL 3.2.x
  cmake/rapids_config.cmake
Labels: CMake

Update to CCCL 3.2.x
  cmake/rapids_config.cmake
Labels: CMake

Temporary fixes for CCCL 3.2
  cpp/src/memory/pinned_memory_resource.cu
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_pinned_resources.cpp
Labels: librapidsmp

Use new pinned types
  cpp/src/memory/pinned_memory_resource.cu
Labels: librapidsmp

Update to CCCL 3.2.x
  cmake/rapids_config.cmake
Labels: CMake

Replace deprecated set_current_device_resource_ref with set_current_device_resource
  cpp/benchmarks/streaming/ndsh/utils.cpp
Labels: librapidsmp

Use shared_resource for test mock resource so copies share state
  cpp/tests/test_rmm_resource_adaptor.cpp
Labels: librapidsmp

Migrate RMM usage to CCCL MR design
  cmake/thirdparty/get_cucascade.cmake
  cpp/benchmarks/bench_memory_resources.cpp
  cpp/benchmarks/bench_pack.cpp
  cpp/benchmarks/bench_partition.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/streaming/ndsh/bench_read.cpp
  cpp/benchmarks/streaming/ndsh/q01.cpp
  cpp/benchmarks/streaming/ndsh/q03.cpp
  cpp/benchmarks/streaming/ndsh/q04.cpp
  cpp/benchmarks/streaming/ndsh/q09.cpp
  cpp/benchmarks/streaming/ndsh/q21.cpp
  cpp/benchmarks/streaming/ndsh/utils.cpp
  cpp/benchmarks/utils/rmm_stack.hpp
  cpp/include/rapidsmpf/detail/rmm_resource_adaptor_impl.hpp
  cpp/include/rapidsmpf/memory/scoped_memory_record.hpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/include/rapidsmpf/stream_ordered_timing.hpp
  cpp/src/memory/buffer_resource.cpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_allgather.cpp
  cpp/tests/test_allreduce.cu
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_communicator.cpp
  cpp/tests/test_config.cpp
  cpp/tests/test_metadata_payload_exchange.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
  cpp/tests/test_shuffler.cpp
  cpp/tests/test_spill_manager.cpp
  python/rapidsmpf/rapidsmpf/memory/buffer_resource.pyx
  python/rapidsmpf/rapidsmpf/memory/scoped_memory_record.pxd
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pxd
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
Labels: librapidsmp, CMake

Remove RmmStack lifetime wrapper now that adaptors own their upstreams
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/utils/rmm_stack.hpp
Labels: librapidsmp

Use owning any_resource<device_accessible> in RmmResourceAdaptor and BufferResource
  cpp/include/rapidsmpf/detail/rmm_resource_adaptor_impl.hpp
  cpp/include/rapidsmpf/memory/buffer_resource.hpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/src/memory/buffer_resource.cpp
  cpp/src/rmm_resource_adaptor.cpp
  python/rapidsmpf/rapidsmpf/memory/buffer_resource.pyx
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pxd
  python/rapidsmpf/rapidsmpf/rmm_resource_adaptor.pyx
Labels: librapidsmp

Inline upstream memory resource variables in benchmark MR composition
  cpp/benchmarks/bench_pack.cpp
  cpp/benchmarks/bench_partition.cpp
  cpp/benchmarks/utils/rmm_stack.hpp
Labels: librapidsmp

clang analyzer error
  cpp/src/memory/host_buffer.cpp
  cpp/src/rmm_resource_adaptor.cpp
Labels: librapidsmp

rename file
  cpp/benchmarks/utils/rmm_utils.hpp
Labels: librapidsmp

Pin cuCascade in rapidsmpf
  cmake/thirdparty/get_cucascade.cmake
Labels: CMake

removing RmmResourceAdapter ptr use
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/streaming/ndsh/bench_read.cpp
  cpp/benchmarks/streaming/ndsh/q01.cpp
  cpp/benchmarks/streaming/ndsh/q03.cpp
  cpp/benchmarks/streaming/ndsh/q04.cpp
  cpp/benchmarks/streaming/ndsh/q09.cpp
  cpp/benchmarks/streaming/ndsh/q21.cpp
  cpp/benchmarks/streaming/ndsh/utils.cpp
  cpp/benchmarks/streaming/ndsh/utils.hpp
  cpp/include/rapidsmpf/memory/buffer_resource.hpp
  cpp/include/rapidsmpf/memory/pinned_memory_resource.hpp
  cpp/include/rapidsmpf/statistics.hpp
  cpp/include/rapidsmpf/streaming/core/context.hpp
  cpp/src/memory/buffer_resource.cpp
  cpp/src/memory/host_buffer.cpp
  cpp/src/memory/pinned_memory_resource.cpp
  cpp/src/statistics.cpp
  cpp/src/streaming/core/context.cpp
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_config.cpp
  cpp/tests/test_statistics.cpp
  python/rapidsmpf/rapidsmpf/memory/buffer_resource.pxd
  python/rapidsmpf/rapidsmpf/memory/buffer_resource.pyx
  python/rapidsmpf/rapidsmpf/statistics.pxd
  python/rapidsmpf/rapidsmpf/statistics.pyx
Labels: librapidsmp

rename file
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/utils/rmm_stack.hpp
Labels: librapidsmp

Apply suggestions from code review
  cpp/benchmarks/streaming/ndsh/utils.cpp
  cpp/benchmarks/utils/rmm_utils.hpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
Labels: librapidsmp

compilation fixes
  cpp/benchmarks/streaming/ndsh/utils.hpp
  cpp/benchmarks/utils/rmm_utils.hpp
Labels: librapidsmp

addressing comments
  cpp/src/rmm_resource_adaptor.cpp
  cpp/tests/test_allgather.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
Labels: librapidsmp

Add skill to reproduce CI locally (#991)
  .agents/skills/reproduce-ci-locally/SKILL.md
Labels: none

Harden FileBackend key validation and temp file creation (#992)
  cpp/src/bootstrap/file_backend.cpp
Labels: librapidsmp

Remove unnecessary `$<BUILD_INTERFACE:...>` from CMake targets (#1001)
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/streaming/CMakeLists.txt
  cpp/benchmarks/streaming/ndsh/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tools/CMakeLists.txt
Labels: librapidsmp, CMake

Enable Ray for aarch64 with conda (#1002)
  dependencies.yaml
Labels: none

Fix `PostBox::spill()` passing stale amount to `std::ranges::lower_bound` (#983)
  cpp/src/coll/utils.cpp
  cpp/tests/test_allgather.cpp
Labels: librapidsmp

Add `TableChunk.into_packed_data` (#986)
  cpp/include/rapidsmpf/streaming/cudf/table_chunk.hpp
  cpp/src/streaming/cudf/table_chunk.cpp
  cpp/tests/streaming/test_table_chunk.cpp
  python/rapidsmpf/rapidsmpf/streaming/cudf/table_chunk.pxd
  python/rapidsmpf/rapidsmpf/streaming/cudf/table_chunk.pyi
  python/rapidsmpf/rapidsmpf/streaming/cudf/table_chunk.pyx
  python/rapidsmpf/rapidsmpf/tests/streaming/test_table_chunk.py
Labels: librapidsmp

Refactor memory resource ownership and type safety (#985)
  cpp/benchmarks/bench_memory_resources.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/streaming/ndsh/utils.cpp
  cpp/include/rapidsmpf/detail/rmm_resource_adaptor_impl.hpp
  cpp/include/rapidsmpf/memory/buffer_resource.hpp
  cpp/include/rapidsmpf/memory/host_memory_resource.hpp
  cpp/include/rapidsmpf/memory/pinned_memory_resource.hpp
  cpp/include/rapidsmpf/rmm_resource_adaptor.hpp
  cpp/include/rapidsmpf/statistics.hpp
  cpp/src/memory/buffer_resource.cpp
  cpp/src/memory/pinned_memory_resource.cpp
  cpp/src/rmm_resource_adaptor.cpp
  cpp/src/statistics.cpp
  cpp/tests/test_config.cpp
  cpp/tests/test_host_buffer.cpp
  cpp/tests/test_rmm_resource_adaptor.cpp
  python/rapidsmpf/rapidsmpf/memory/buffer_resource.pyx
  python/rapidsmpf/rapidsmpf/memory/pinned_memory_resource.pxd
  python/rapidsmpf/rapidsmpf/memory/pinned_memory_resource.pyx
  python/rapidsmpf/rapidsmpf/statistics.pyx
Labels: librapidsmp

Add socket-based bootstrap coordination backend for `rrun` (#1000)
  cpp/CMakeLists.txt
  cpp/include/rapidsmpf/bootstrap/backend.hpp
  cpp/include/rapidsmpf/bootstrap/socket_backend.hpp
  cpp/include/rapidsmpf/bootstrap/types.hpp
  cpp/include/rapidsmpf/bootstrap/utils.hpp
  cpp/src/bootstrap/bootstrap.cpp
  cpp/src/bootstrap/file_backend.cpp
  cpp/src/bootstrap/slurm_backend.cpp
  cpp/src/bootstrap/socket_backend.cpp
  cpp/src/bootstrap/utils.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/bootstrap/test_key_validation.cpp
  cpp/tests/bootstrap/test_socket_backend.cpp
  cpp/tests/main/bootstrap.cpp
  cpp/tools/CMakeLists.txt
  cpp/tools/rrun.cpp
Labels: librapidsmp, CMake

[C++] Add OrderScheme partitioning metadata (#993)
  cpp/include/rapidsmpf/streaming/cudf/channel_metadata.hpp
  cpp/src/streaming/cudf/channel_metadata.cpp
  cpp/tests/streaming/test_channel_metadata.cpp
  python/rapidsmpf/rapidsmpf/streaming/cudf/channel_metadata.pxd
  python/rapidsmpf/rapidsmpf/streaming/cudf/channel_metadata.pyx
  python/rapidsmpf/rapidsmpf/tests/streaming/test_channel_metadata.py
Labels: librapidsmp

fix(ci): resolve all zizmor findings and add zizmor pre-commit checks (#1007)
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  .github/zizmor.yml
  .pre-commit-config.yaml
Labels: none

Add sql text validation to ndsh.py (#1006)
  cpp/scripts/ndsh.py
Labels: librapidsmp

Add hybrid Slurm support to rrun with PMIx-based coordination (#844)
  cpp/include/rapidsmpf/bootstrap/slurm_backend.hpp
  cpp/src/bootstrap/ucxx.cpp
  cpp/tools/CMakeLists.txt
  cpp/tools/rrun.cpp
  cpp/tools/rrun_config.hpp
  cpp/tools/rrun_single_node.cpp
  cpp/tools/rrun_slurm_hybrid.cpp
  cpp/tools/rrun_slurm_passthrough.cpp
  cpp/tools/rrun_utils.cpp
  cpp/tools/rrun_utils.hpp
Labels: librapidsmp, CMake

[Python] Add ``OrderScheme`` partitioning metadata (#853)
  python/rapidsmpf/rapidsmpf/streaming/core/spillable_messages.pyx
  python/rapidsmpf/rapidsmpf/streaming/cudf/__init__.py
  python/rapidsmpf/rapidsmpf/streaming/cudf/channel_metadata.pxd
  python/rapidsmpf/rapidsmpf/streaming/cudf/channel_metadata.pyi
  python/rapidsmpf/rapidsmpf/streaming/cudf/channel_metadata.pyx
  python/rapidsmpf/rapidsmpf/tests/streaming/test_channel_metadata.py
Labels: none

Remove memory resources from Statistics (#1003)
  cpp/CMakeLists.txt
  cpp/benchmarks/bench_comm.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/streaming/ndsh/bench_read.cpp
  cpp/benchmarks/streaming/ndsh/q01.cpp
  cpp/benchmarks/streaming/ndsh/q03.cpp
  cpp/benchmarks/streaming/ndsh/q04.cpp
  cpp/benchmarks/streaming/ndsh/q09.cpp
  cpp/benchmarks/streaming/ndsh/q21.cpp
  cpp/benchmarks/streaming/ndsh/utils.cpp
  cpp/include/rapidsmpf/memory/buffer_resource.hpp
  cpp/include/rapidsmpf/memory/resource_types.hpp
  cpp/include/rapidsmpf/statistics.hpp
  cpp/src/integrations/cudf/partition.cpp
  cpp/src/memory/buffer_resource.cpp
  cpp/src/statistics.cpp
  cpp/tests/test_buffer_resource.cpp
  cpp/tests/test_config.cpp
  cpp/tests/test_statistics.cpp
  python/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/rapidsmpf/benchmarks/streaming_benchmark.py
  python/rapidsmpf/rapidsmpf/examples/bulk_mpi_shuffle.py
  python/rapidsmpf/rapidsmpf/examples/ray/bulk_ray_shuffle.py
  python/rapidsmpf/rapidsmpf/memory/buffer_resource.pyx
  python/rapidsmpf/rapidsmpf/statistics.pxd
  python/rapidsmpf/rapidsmpf/statistics.pyi
  python/rapidsmpf/rapidsmpf/statistics.pyx
  python/rapidsmpf/rapidsmpf/tests/test_buffer_resource.py
  python/rapidsmpf/rapidsmpf/tests/test_config.py
  python/rapidsmpf/rapidsmpf/tests/test_statistics.py
Labels: librapidsmp, CMake

Add support for Ray in Python 3.14 and wheels tests (#1015)
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-131_arch-aarch64.yaml
  conda/environments/all_cuda-131_arch-x86_64.yaml
  dependencies.yaml
  python/rapidsmpf/pyproject.toml
Labels: conda

Use `token.rapids.nvidia.com` when issuing S3 bucket creds in devcontainers (#1005)
  .devcontainer/Dockerfile
Labels: none

Topology-aware default pool sizing for `PinnedMemoryResource` (#1012)
  ci/run_cpp_benchmark_smoketests.sh
  cpp/benchmarks/bench_memory_resources.cpp
  cpp/include/rapidsmpf/memory/pinned_memory_resource.hpp
  cpp/include/rapidsmpf/system_info.hpp
  cpp/src/memory/pinned_memory_resource.cpp
  cpp/src/system_info.cpp
  cpp/tests/CMakeLists.txt
  cpp/tests/test_host_buffer.cpp
  docs/source/configuration.md
  python/rapidsmpf/rapidsmpf/utils/system_info.pyi
  python/rapidsmpf/rapidsmpf/utils/system_info.pyx
Labels: librapidsmp, CMake, ci

Disable pinned memory by default (#1020)
  cpp/include/rapidsmpf/memory/pinned_memory_resource.hpp
  cpp/src/memory/pinned_memory_resource.cpp
  cpp/tests/test_config.cpp
  docs/source/configuration.md
  python/rapidsmpf/rapidsmpf/tests/test_config.py
Labels: librapidsmp

Simplify `HostBuffer` memory ownership (#1013)
  cpp/include/rapidsmpf/memory/host_buffer.hpp
  cpp/src/memory/host_buffer.cpp
  cpp/tests/test_host_buffer.cpp
Labels: librapidsmp

Add back cuda-cudart-dev
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-131_arch-aarch64.yaml
  conda/environments/all_cuda-131_arch-x86_64.yaml
  dependencies.yaml
Labels: conda

Build and test with CUDA 13.2.0
  .devcontainer/cuda13.2-conda/devcontainer.json
  .devcontainer/cuda13.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-132_arch-aarch64.yaml
  conda/environments/all_cuda-132_arch-x86_64.yaml
  dependencies.yaml
  docs/source/getting-started.md
Labels: conda

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

librapidsmp:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
  - 'ci/**'

conda:
  - 'conda/**'
