Repository bdice/rapidsmpf, changes with the labels that .github/labeler.yml gives for each.
All labels: librapidsmp, CMake, ci, conda

Fix librapidsmpf wheel builds with current cuDF packages (#1022)
  ci/build_wheel_librapidsmpf.sh
  ci/build_wheel_singlecomm.sh
  cmake/thirdparty/get_cucascade.cmake
  cpp/CMakeLists.txt
  cpp/benchmarks/CMakeLists.txt
  cpp/benchmarks/streaming/CMakeLists.txt
  cpp/benchmarks/streaming/ndsh/CMakeLists.txt
  cpp/examples/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tools/CMakeLists.txt
  python/librapidsmpf/CMakeLists.txt
Labels: librapidsmp, CMake, ci

Temporarily disable suppressions
  cpp/compute-sanitizer-suppressions.xml
Labels: librapidsmp

Revert "Temporarily disable suppressions"
  cpp/compute-sanitizer-suppressions.xml
Labels: librapidsmp

Build and test with CUDA 13.2.0 (#1021)
  .devcontainer/cuda13.2-conda/devcontainer.json
  .devcontainer/cuda13.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  README.md
  conda/environments/all_cuda-132_arch-aarch64.yaml
  conda/environments/all_cuda-132_arch-x86_64.yaml
  dependencies.yaml
  docs/source/getting-started.md
Labels: conda

Use static linkage for CUDA runtime (#725)
  conda/recipes/librapidsmpf/recipe.yaml
  conda/recipes/rapidsmpf/recipe.yaml
  cpp/CMakeLists.txt
  python/librapidsmpf/CMakeLists.txt
Labels: librapidsmp, CMake, conda

Remove C language from librapidsmpf wheel builder (#1024)
  python/librapidsmpf/CMakeLists.txt
Labels: CMake

Skip stack trace if gdb is unavailable (#1004)
  ci/timeout_with_stack.py
Labels: ci

Remove cuCascade transitive dependency workarounds
  cmake/thirdparty/get_cucascade.cmake
  cpp/tests/CMakeLists.txt
  cpp/tests/bootstrap/test_socket_backend.cpp
  cpp/tools/CMakeLists.txt
Labels: librapidsmp, CMake

Fix large-message initialization in communication benchmark (#1016)
  cpp/benchmarks/bench_pack.cpp
  cpp/benchmarks/bench_shuffle.cpp
  cpp/benchmarks/streaming/bench_streaming_shuffle.cpp
  cpp/benchmarks/streaming/data_generator.hpp
  cpp/benchmarks/utils/random_data.cu
  cpp/benchmarks/utils/random_data.hpp
Labels: librapidsmp

Use new cuCascade::cucascade_topology_discovery target (#1030)
  cmake/thirdparty/get_cucascade.cmake
  cpp/CMakeLists.txt
  cpp/tests/CMakeLists.txt
  cpp/tools/CMakeLists.txt
Labels: librapidsmp, CMake

Fix bootstrap test CUDA toolkit includes
  cpp/tests/CMakeLists.txt
Labels: librapidsmp, CMake

Fix socket backend test write handling
  cpp/tests/bootstrap/test_socket_backend.cpp
Labels: librapidsmp

Fix style
  cpp/tests/bootstrap/test_socket_backend.cpp
Labels: librapidsmp

Remove unnecessary include from `slurm_backend.cpp` (#1034)
  cpp/src/bootstrap/slurm_backend.cpp
Labels: librapidsmp

Fix socket backend test write handling (#1033)
  cpp/tests/bootstrap/test_socket_backend.cpp
Labels: librapidsmp

Prepare release/26.06
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  RAPIDS_BRANCH
Labels: none

Revert "Prepare release/26.06"
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  RAPIDS_BRANCH
Labels: none

Update to 26.08.00
  .devcontainer/cuda12.9-conda/devcontainer.json
  .devcontainer/cuda12.9-pip/devcontainer.json
  .devcontainer/cuda13.2-conda/devcontainer.json
  .devcontainer/cuda13.2-pip/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/pr.yaml
  .github/workflows/test.yaml
  UCXX_VERSION
  VERSION
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-132_arch-aarch64.yaml
  conda/environments/all_cuda-132_arch-x86_64.yaml
  dependencies.yaml
  python/librapidsmpf/pyproject.toml
  python/rapidsmpf/pyproject.toml
Labels: conda

More follow-ups to recent cucascade fixes (#1035)
  .pre-commit-config.yaml
  ci/test_cpp.sh
  cmake/Modules/FindCUDAToolkit.cmake
  cpp/CMakeLists.txt
  dependencies.yaml
Labels: librapidsmp, CMake, ci

Require CMake 4.0 (#1029)
  cmake/RAPIDS.cmake
  conda/environments/all_cuda-129_arch-aarch64.yaml
  conda/environments/all_cuda-129_arch-x86_64.yaml
  conda/environments/all_cuda-132_arch-aarch64.yaml
  conda/environments/all_cuda-132_arch-x86_64.yaml
  cpp/CMakeLists.txt
  dependencies.yaml
  python/librapidsmpf/CMakeLists.txt
  python/librapidsmpf/pyproject.toml
  python/rapidsmpf/CMakeLists.txt
  python/rapidsmpf/pyproject.toml
Labels: librapidsmp, CMake, conda

Remove CUDA includes from bootstrap sources
  cpp/include/rapidsmpf/bootstrap/slurm_backend.hpp
  cpp/src/bootstrap/bootstrap.cpp
  cpp/src/bootstrap/file_backend.cpp
Labels: librapidsmp

Remove CUDA includes from bootstrap sources (#1044)
  cpp/include/rapidsmpf/bootstrap/slurm_backend.hpp
  cpp/src/bootstrap/bootstrap.cpp
  cpp/src/bootstrap/file_backend.cpp
Labels: librapidsmp

.github/labeler.yml:

# Documentation for config - https://github.com/actions/labeler#common-examples

librapidsmp:
  - 'cpp/**'

CMake:
  - '**/CMakeLists.txt'
  - '**/cmake/**'

ci:
  - 'ci/**'

conda:
  - 'conda/**'
